{% extends 'new_main.html' %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<div class="container">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-6 fw-normal text-body-emphasis">{{prices.name}}: Explore Our Parking Pricing Options</h1>
        <p class="fs-5 text-body-secondary">Welcome to our smart parking solution! We offer a range of pricing options tailored to your needs. Whether you are a daily commuter, a weekend shopper, or a long-term parker, we have got you covered. Below, you will find our three pricing tiers:</p>
      </div>
    </header>
  
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Standard</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title" $>{{prices.pricelvl1}}rwf<small class="text-body-secondary fw-light">/hour</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Ideal for regular users</li>
                <li>Affordable rates for short-term parking</li>
                <li>Convenient and accessible spots</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">More info</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Premium</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{prices.pricelvl2}}rwf<small class="text-body-secondary fw-light">/hour</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Extra features</li>
                <li>Covered parking</li>
                <li>Proximity to entrances</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">More info</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Discounted</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{prices.pricelvl3}}rwf<small class="text-body-secondary fw-light">/hour</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Perfect for off-peak hours</li>
                <li>long-term reservations</li>
                <li>Phone and email support</li>
                <li>Budget-friendly rates</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
            </div>
          </div>
        </div>
      </div>
  
      <h2 class="display-6 text-center mb-4">Compare plans</h2>
  
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th style="width: 34%;"></th>
              <th style="width: 22%;">Standard</th>
              <th style="width: 22%;">Premium</th>
              <th style="width: 22%;">Discounted</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-start">Phone and email support</th>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Covered</th>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            </tr>
          </tbody>
  
          <tbody>
            <tr>
              <th scope="row" class="text-start">Dynamic Payment</th>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Sharing Parking</th>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Familly</th>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Extra security</th>
              <td></td>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  {% endblock content %}