{% extends "new_main.html" %}
{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div><i class="zmdi zmdi-car display-1">  404</i></div>
        <div class="display-5">
            We are sorry the page you are looking for might have been moved, deleted or has simply never existed
        </div>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Home page</a>
    </div>
</div>

{% endblock content %}




